<div class="col-12">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Thêm mới sản phẩm</h4>
            <%if(errors){%> <%errors.forEach(item =>{%>
            <h4 class="alert alert-danger col-8"><%=item%></h4>
            <%})%> <%}%> <%if(success){%> <%success.forEach(item =>{%>
            <h4 class="alert alert-success col-8"><%=item%></h4>
            <%})%> <%}%>
            <form class="needs-validation" action="/admin/product/add-product" method="POST" enctype="multipart/form-data" novalidate="">
                <div class="form-row">
                    <div class="col-md-6 mb-3">
                        <label for="validationCustom01">Tên Sản Phẩm</label>
                        <input
                            type="text"
                            class="form-control"
                            id="validationCustom01"
                            name="title"
                            placeholder="Nhập tên sản phẩm"
                            required=""
                        />
                        <div class="invalid-feedback">
                            Tên sản phẩm không được để trống
                        </div>
                    </div>

                    <div class="col-md-5 mb-3">
                        <label for="validationCustomUsername">Số Lượng Sản Phẩm</label>
                        <div class="input-group">
                            <input
                                type="number"
                                class="form-control"
                                id="validationCustom03"
                                name="amount"
                                placeholder="Nhập số lượng"
                                required=""
                            />
                            <div class="invalid-feedback">
                                Số lượng không được trống.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-row add-input-for-product" id="data-input">
                    <div class="col-md-4 mb-3">
                        <label for="validationCustom06">Kích Thước Bộ</label>
                        <input
                            type="text"
                            class="form-control"
                            id="validationCustom06"
                            name="size0"
                            placeholder="Nhập kích thước"
                            required=""
                        />
                        <div class="invalid-feedback">
                            Kích thước bộ không được để trống
                        </div>
                    </div>
                    <div class="col-md-4 mb-3">
                        <label for="validationCustom02">Giá</label>
                        <input
                            type="number"
                            class="form-control"
                            id="validationCustom02"
                            name="price0"
                            placeholder="Nhập giá sản phẩm"
                            required=""
                        />
                        <div class="invalid-feedback">
                            Giá sản phẩm không được trống
                        </div>
                    </div>
                    <div class="col-md-3 mb-3" style="margin-top: 30px;">
                        <button type="button" id="btn-add-size-and-price" class="btn btn-info">Thêm Kích Thước Và Giá</button>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-md-6 mb-3">
                        <label for="validationCustom04">Loại Sản Phẩm</label>
                        <select class="form-control" id="validationCustom04" name="idCate" placeholder="State" required="">
                            <%dataCategory.forEach(cate =>{%>
                            <option value="<%= cate._id%>"><%= cate.title%></option>
                            <%})%>
                        </select>
                        <div class="invalid-feedback">
                            Làm ơn chọn 1 loại.
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="validationCustom05">Ảnh Sản Phẩm</label>
                        <input type="file" class="form-control" name="image" id="validationCustom05" required="" />
                        <div class="invalid-feedback">
                            Làm ơn nhập ảnh.
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-md-12 mb-3">
                        <label for="validationCustom03">Mô Tả Sản Phẩm</label>

                        <textarea
                            type="text"
                            class="form-control"
                            name="description"
                            id="validationCustomUsername"
                            placeholder="Nhập mô tả"
                            aria-describedby="inputGroupPrepend"
                            required=""
                        ></textarea>
                        <div class="invalid-feedback">
                            Mô tả không được trống.
                        </div>
                    </div>
                </div>
                <button class="btn btn-success" type="submit">Thêm Mới</button>
            </form>
            <script>
                // Example starter JavaScript for disabling form submissions if there are invalid fields
                (function () {
                    "use strict";
                    window.addEventListener(
                        "load",
                        function () {
                            // Fetch all the forms we want to apply custom Bootstrap validation styles to
                            var forms = document.getElementsByClassName("needs-validation");
                            // Loop over them and prevent submission
                            var validation = Array.prototype.filter.call(forms, function (form) {
                                form.addEventListener(
                                    "submit",
                                    function (event) {
                                        if (form.checkValidity() === false) {
                                            event.preventDefault();
                                            event.stopPropagation();
                                        }
                                        form.classList.add("was-validated");
                                    },
                                    false
                                );
                            });
                        },
                        false
                    );
                })();
            </script>
        </div>
    </div>
</div>
<div class="card">
    <div class="card-body">
        <h4 class="card-title">Danh sách sản phẩm</h4>
        <h6 class="card-subtitle"></h6>

        <!-- Add Contact Popup Model -->

        <div class="table-responsive">
            <table
                id="demo-foo-addrow"
                class="table table-bordered m-t-30 table-hover contact-list footable footable-5 footable-paging footable-paging-center breakpoint-xs"
                data-paging="true"
                data-paging-size="7"
            >
                <thead>
                    <tr class="footable-header">
                        <th class="footable-first-visible" style="display: table-cell;">STT</th>
                        <th style="display: table-cell;">Tên Sản Phẩm</th>
                        <th style="display: table-cell;">Giá</th>
                        <th style="display: table-cell;">Size</th>
                        <th style="display: table-cell;">Mô Tả</th>
                        <th style="display: table-cell;">SLượng</th>
                        <th style="display: table-cell;">Thuộc Loại</th>
                        <th style="display: table-cell;">Hình Ảnh</th>
                        <th class="footable-last-visible" style="display: table-cell;"></th>
                    </tr>
                </thead>
                <tbody id="list-product">
                    <%dataProduct.forEach((product,index) =>{%>
                    <tr class="data-product" data-idProduct="<%= product._id%>">
                        <td class="footable-first-visible" style="display: table-cell;"><%= index + 1%></td>
                        <% if(product.title.length > 15){%>
                        <td class="footable-last-visible" style="display: table-cell;"><%= product.title.substr(0,12)%><span>...</span></td>
                        <%}else{%>
                        <td class="footable-last-visible" style="display: table-cell;"><%= product.title%></td>
                        <%}%> <% product.size.forEach((dataSize,index) =>{%> <%if(index == 0){%>
                        <td><%= dataSize.price%></td>
                        <td><%= dataSize.size%></td>
                        <%}%> <%})%> <%if(product.description.length > 15){%>
                        <td style="display: table-cell;"><%= product.description.substr(0,12)%><span>...</span></td>
                        <%}else{%>
                        <td style="display: table-cell;"><%= product.description%>></td>
                        <%}%>
                        <td style="display: table-cell;"><%= product.amount%></td>
                        <td style="display: table-cell;"><%= product.idCate.title%></td>
                        <td style="display: table-cell;">
                            <a style="text-align: center; margin-left: 15px;" href="javascript:void(0)"
                                ><img src="uploads/imageproduct/<%= product.image%>" alt="user" width="40" class="img-circle" />
                            </a>
                        </td>
                        <td>
                            <button
                                class="btn waves-effect waves-light btn-info"
                                onclick="window.location.href='/admin/product/edit-product/<%= product._id%>';"
                            >
                                <i class="fas fa-pencil-alt"></i>
                            </button>
                            <button class="btn btn-success">
                                <i class="mdi mdi-magnify"></i>
                            </button>
                            <button class="btn waves-effect waves-light btn-primary btn-delete-product" data-idproduct="<%= product._id%>">
                                <i class="fas fa-trash-alt"></i>
                            </button>
                        </td>
                    </tr>
                    <%})%>
                </tbody>
            </table>
        </div>
    </div>
</div>
