<div class="col-12">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Cập nhật sản phẩm</h4>
            <%if(errors){%> <%errors.forEach(item =>{%>
            <h4 class="alert alert-danger col-8"><%=item%></h4>
            <%})%> <%}%> <%if(success){%> <%success.forEach(item =>{%>
            <h4 class="alert alert-success col-8"><%=item%></h4>
            <%})%> <%}%>
            <form
                class="needs-validation"
                action="/admin/product/edit-product/<%= dataIdProduct._id%>"
                method="POST"
                enctype="multipart/form-data"
                novalidate=""
            >
                <div class="form-row">
                    <div class="col-md-6 mb-3">
                        <label for="validationCustom01">Tên Sản Phẩm</label>
                        <input
                            type="text"
                            class="form-control"
                            id="validationCustom01"
                            name="title"
                            placeholder="Nhập tên sản phẩm"
                            required=""
                            value="<%= dataIdProduct.title%>"
                        />
                        <div class="invalid-feedback">
                            Tên sản phẩm không được để trống
                        </div>
                    </div>
                    <div class="col-md-3 mb-3">
                        <label for="validationCustom02">Giá</label>
                        <input
                            type="number"
                            class="form-control"
                            id="validationCustom02"
                            name="price"
                            placeholder="Nhập giá sản phẩm"
                            value="<%= dataIdProduct.price%>"
                            required=""
                        />
                        <div class="invalid-feedback">
                            Giá sản phẩm không được trống
                        </div>
                    </div>
                    <div class="col-md-3 mb-3">
                        <label for="validationCustomUsername">Số Lượng Sản Phẩm</label>
                        <div class="input-group">
                            <input
                                type="number"
                                class="form-control"
                                id="validationCustom03"
                                name="amount"
                                placeholder="Nhập số lượng"
                                value="<%= dataIdProduct.amount%>"
                                required=""
                            />
                            <div class="invalid-feedback">
                                Số lượng không được trống.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-md-6 mb-3">
                        <label for="validationCustom04">Loại Sản Phẩm</label>
                        <select class="form-control" id="validationCustom04" name="idCate" placeholder="State" required="">
                            <%dataCategory.forEach(cate =>{%>
                            <option value="<%= cate._id%>" <%= JSON.stringify(cate._id) == JSON.stringify(dataIdProduct.idCate._id) ? 'selected' :"" %> ><%= cate.title%></option>
                            <%})%>
                        </select>
                        <div class="invalid-feedback">
                            Làm ơn chọn 1 loại.
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label >Ảnh Sản Phẩm :</label>
                        <img src="uploads/imageproduct/<%= dataIdProduct.image%>" alt="user" width="40" style="margin:0 0px 6px 10px;" class="img-circle" />
                        <input type="hidden" class="form-control" value="<%=dataIdProduct.image %>" name="imageold" />
                        <input type="file" class="form-control" value="<%=dataIdProduct.image %>" name="image" />
                        <div class="invalid-feedback">
                            Làm ơn nhập ảnh.
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-md-12 mb-3">
                        <label for="validationCustom03">Mô Tả Sản Phẩm</label>
                        <textarea
                            type="text"
                            class="form-control"
                            name="description"
                            id="validationCustomUsername"
                            placeholder="Nhập mô tả"
                            aria-describedby="inputGroupPrepend"
                            required=""
                        >
                        <%= dataIdProduct.description%>
                        </textarea>
                        <div class="invalid-feedback">
                            Mô tả không được trống.
                        </div>
                    </div>
                </div>
                <button class="btn btn-info" type="button" onclick="window.location.href='/admin/product';">Trở lại trang trước</button>
                <button class="btn btn-primary" type="submit">Cập nhật sản phẩm</button>
            </form>
            <script>
                // Example starter JavaScript for disabling form submissions if there are invalid fields
                (function () {
                    "use strict";
                    window.addEventListener(
                        "load",
                        function () {
                            // Fetch all the forms we want to apply custom Bootstrap validation styles to
                            var forms = document.getElementsByClassName("needs-validation");
                            // Loop over them and prevent submission
                            var validation = Array.prototype.filter.call(forms, function (form) {
                                form.addEventListener(
                                    "submit",
                                    function (event) {
                                        if (form.checkValidity() === false) {
                                            event.preventDefault();
                                            event.stopPropagation();
                                        }
                                        form.classList.add("was-validated");
                                    },
                                    false
                                );
                            });
                        },
                        false
                    );
                })();
            </script>
        </div>
    </div>
</div>
